.cards-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 734px;
    height: 100%;
    .card{
       height: 350px;
       margin-left: 30px;
       margin-bottom: 34px;
       .card-img-top{
          height: 279px;}
       .card-body{
          padding: 0%;
          align-items: center;
          background-color: $light;
          display: flex;
          justify-content: left;
           .username{
             font-weight:bold;
             font-size: 16px;}
          .card-text{
             font-size: 14px;}
          img{
             margin-top: 13px;
             margin-bottom: 12px;
             margin-left: 10px;
             margin-right:5px; 
             width: 46px;}
      }
  }
}